* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunitoregular.woff');
    src: url('../fonts/Nunitoregular.woff2');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunitobold.woff');
    src: url('../fonts/Nunitobold.woff2');
    font-weight: bold;
}

body {
    font-family: 'Nunito', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    width: 250px;
    height: 100vh;
    padding: 25px 17px 0 17px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 27px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-item a {
    display: flex;
    align-items: center;
    color: #858796;    
    text-decoration: none;
    padding: 13px 15px;
}

.menu-item a span {
    margin-left: 10px;
    font-size: 14px;
}

.menu-item:hover {
    background: #467DF2;
    border-radius: 5px;
}

.menu-item:hover a svg path{
    fill: #FFFFFF;
}

.menu-item:hover a {
    color: #FFFFFF;
}



